.ListBlocks {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-self: center;
}

.AcBlock {
  width: 50%;
  height: 10%;
  text-align: center;
  flex: 0 0 50%;
  padding: 5vh 5vh 5vh 5vh;
}

.AcBlock img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}