/*Change text location*/
@media (min-width: 769px){
    .centered {
    top: 50%;
    left: 50%;
  }
  #Description-Who p {
    font-size: 30px;
  }
  #Description-Who h1 {
    font-size: 40px;
  }
}

@media (min-width: 481px) and (max-width: 768px){
    .centered {
    top: 25%;
    left: 50%;
  }
  #Description-Who p {
    font-size: 12.5px;
  }
  #Description-Who h1 {
    font-size: 22.5px;
  }
}

@media (max-width: 480px){
    .centered p {
    top: 10%;
    left: 50%;
  }
  #Description-Who p {
    font-size: 5px;
  }
  #Description-Who h1 {
    font-size: 15px;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navbar div{
    margin-left: 10px;
}

.container {
    color: black;
    width: 100%;
    height: 100%;
    background-color: gray;
    max-width: 100%; 
    padding: 0;
    margin: 0;
    font-size: 30px;
  }

.container img{
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.centered {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: DeepImpactPixel;
    font-size: 4vw;
  }

#Descript-Name{
    width: 90vw;
    align-self: center;
    background-color: whitesmoke;
    display: flex;
    margin:auto;
}

#Descript-Name div{
    width: 50%;
    text-align: center;
}

#Description-Who{
    justify-content: center;
    align-items: center;
    font-family: Minecraft;
    padding: 5vh 5vh 5vh 5vh;
    font-size: auto;
}

#Descript-Name img{
    width: 50%;
    height: auto;
    object-fit:contain;
}

/*Custom Font*/
@font-face {
    font-family: Minecraft;
    src: url(Assets/Fonts/minecraft/Minecraft.ttf);
}

@font-face {
    font-family: DeepImpactPixel;
    src: url(Assets/Fonts/04b_30/04B_30__.TTF);
}